{% extends "site_base.html" %}


{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap-select/css/bootstrap-select.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
{% endblock %}


{% block extra_script %}
<script src="{{ STATIC_URL }}cabici.js"></script>
<script src="{{ STATIC_URL }}bootstrap-typeahead.min.js"></script>
<script src="{{ STATIC_URL }}bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}bootstrap-datetimepicker/moment.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" />


<script>
$(document).ready(
    function() {


        $('.datepicker').datetimepicker({
            'format': 'YYYY-MM-DD',
            'useCurrent': true
        });
        $('.timepicker').datetimepicker({
            'format': 'LT'
        });

        race_create_form_init('{% url 'club_races' club.slug %}');
        add_people_init();
        delete_race_init();
        edit_race_modal_init();
        {% if user.is_staff or user.is_authenticated and user.rider.official and user.rider.club == club %}
        var auth = true;
        {% else %}
        var auth = false;
        {% endif %}
        populate_race_table('{{club.id}}', auth);
    }
);
</script>
{% endblock %}

{% block content %}

<h2>{{club.name}} Race Schedule</h2>

{% if user.is_staff or user.is_authenticated and user.rider.official and user.rider.club == club %}

    <div class='btn-toolbar' role='toolbar' aria-label='Club Official Actions'>
        <button type='button' class='btn btn-default' data-toggle='modal' data-target="#raceCreateModal">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Races
            </button>
        <button type='button' class='btn btn-default' data-toggle='modal' data-target="#publishDraftModal">
            Publish Draft Races
        </button>
    </div>

{% endif %}

    <table class='table display' id='racetable'>
      <thead>
       <tr>
           <th style="width: 10em">Date</th>
           <th>Race</th>
           <th>Location</th>
           <th>Officials</th>
           {% if user.is_staff or user.is_authenticated and user.rider.official and user.rider.club == club %}
           <th>Edit</th>
           {% endif %}
       </tr>
      </thead>

    </table>

{% if user.is_staff or user.is_authenticated and user.rider.official and user.rider.club == club %}

    {% include "race_create_modal.html" with mode="create" %}
    {% include "race_create_modal.html" with mode="edit" %}

    {% include "race_confirm_delete.html" %}

    <div class='modal fade' id='addPeopleModal' tabindex='-2' role='dialog' aria-labelledby="addPeopleModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="addPeopleModalLabel">Add People to Race</h4>
            </div>
            <div class="modal-body">

                <form action="" method='POST'>
                    {% csrf_token %}
                    <input type='hidden' name='raceid' id='raceid'>
                    <div class='container'>
                        <div class='row'>
                            <div class='col-md-3'>
                                <label for='commissaire'>Commissaire: </label>
                            </div>
                            <div class='col-md-3'>
                                <select class='selectpicker' id='commissaire' name='commissaire'>
                                    {% for comm in commissaires %}
                                    <option value='{{comm.id}}'>{{comm}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-md-3'>
                                <label for='dutyofficer'>Duty Officer: </label>
                            </div>
                            <div class='col-md-3'>
                                <select class='selectpicker' id='dutyofficer' name='dutyofficer'>
                                    {% for do in dutyofficers %}
                                    <option value='{{do.id}}'>{{do}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-md-3'>
                                <label for='dutyhelper'>Duty Helper: </label>
                            </div>
                            <div class='col-md-3'>
                                <select class='selectpicker' multiple id='dutyhelper' name='dutyhelper' data-live-search="true">
                                    {% for dh in dutyhelpers %}
                                    <option value='{{dh.id}}'>{{dh}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                      <input type="submit" name="submit" class="btn btn-primary" value="Update">
                    </div>
                </form>
            </div>
          </div>
        </div>
    </div>


    <div class='modal fade' id='publishDraftModal' tabindex='-2' role='dialog' aria-labelledby="publishDraftModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="publishDraftModalLabel">Publish Draft Races</h4>
            </div>
            <div class="modal-body">
                <p>This will publish all DRAFT races.</p>

                <form action="/clubs/{{club.slug}}/races/publish/" method='POST'>
                    {% csrf_token %}
                    <input type='hidden' name='club' id='club' value='{{club.pk}}'>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                      <input type="submit" name="submit" class="btn btn-primary" value="Publish">
                    </div>
                </form>
            </div>

{% endif %}

{% endblock %}
