{% extends "site_base.html" %}
{% load bootstrap %}

{% block head_title %}{{club.name}} Riders Updated{% endblock %}

    {% block extra_head %}
    {% endblock %}

    {% block extra_scripts %}
    {% endblock %}

{% block content %}

<h2>{{club.name}} Riders Updated</h2>

<h3>Riders with Membership Record Removed</h3>

<p>These riders did not appear in the spreadsheet as current members but they had previously
    been recorded as being members for this year.</p>

<table class='table'>
    <thead>
        <tr><th>Name</th><th>Grade</th><th>Phone</th><th>Email</th>
        </tr>
    </thead>
    <tbody>
    {% for user in changed.revoked %}
      <tr>
          <td><a href="{% url 'rider' user.id %}">{{user.first_name}} {{user.last_name}}</a></td>
          <td>{% clubgrade club=club rider=rider %}</td>
          <td>{{user.rider.phone}}</td>
          <td>{{user.email}}</td>
      </tr>
    {% endfor %}
    </tbody>
</table>


<h3>Riders Added</h3>

<table class='table'>
    <thead>
        <tr><th>Name</th><th>Grade</th><th>Phone</th><th>Email</th>
        </tr>
    </thead>
    <tbody>
    {% for user in changed.added %}
        <tr>
            <td><a href="{% url 'rider' user.id %}">{{user.first_name}} {{user.last_name}}</a></td>
            <td>{% clubgrade club=club rider=user.rider %}
            </td>
            <td>{{user.rider.phone}}</td>
            <td>{{user.email}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


<h3>Riders Updated</h3>

<table class='table'>
    <thead>
        <tr><th>Name</th><th>Updated</th>
        </tr>
    </thead>
    <tbody>
    {% for change in changed.updated %}
      <tr>
          <td><a href="{% url 'rider' change.user.id %}">{{change.user.first_name}} {{change.user.last_name}}</a></td>
          <td>
              {%  for m in change.changes %}{{ m }} {% endfor %}
          </td>
      </tr>
    {% endfor %}
    </tbody>
</table>



{% endblock %}
