{% extends "site_base.html" %}

{% block head_title %}
{{object}}
{% endblock %}

{% block content %}

    <h2>{{object}}</h2>

    <h3>Results</h3>

    <p>Top 100 places shown.</p>
    <table class=table>
        <thead>
            <tr><th>Place</th>
                <th>Rider</th>
                <th>Points</th>
                <th>Grade</th>
                <th>Club</th>
                <th>Events</th>
                <th>Audit</th>
            </tr>
        </thead>
        <tbody>
    {% for row in object.tabulate|slice:":100" %}
            <tr>
                <td>{{forloop.counter}}
                <td><a href="{% url 'rider' pk=row.rider.user.pk %}">{{row.rider}}</a></td>
                <td>{{row.points}}</td>
                <td>{{row.rider.clubgrade_set.all.0.grade}}</td>
                <td>{{row.rider.club}}</td>
                <td>{{row.eventcount}}</td>
                <td><a href="{% url 'pointscore-audit' slug=object.club.slug pk=object.pk rider=row.rider.user.pk %}">Audit</a></td>
            </tr>
    {% endfor %}
        </tbody>
    </table>

    <h3>Races</h3>

    <table class='table'>
        <thead>
        <tr>
            <th class='racedate'>Date</th><th class='racetitle'>Race</th><th class='racelocation'>Location</th>
        </tr>
        </thead>
        {% for race in races %}
            <tr class="status{{race.status}}">
                <th colspan='5'>{{race.date|date:"D jS M"}}</th>
                <td class='racetitle'>{{race.club.slug}}:
                        <a href="{% url 'race' race.club.slug race.pk %}">{{ race.title }}</a>
                        {% ifequal race.status 'c' %}CANCELLED{% endifequal %}
                </td>
                <td class='racelocation'>{{ race.location }}</td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}
