{% extends "site_base.html" %}

{% block head_title %}
{{object}}
{% endblock %}

{% block content %}

    <h2>{{object}}</h2>

    <h3>Audit Report for {{rider}}</h3>

    <table class=table>
        <thead>
            <tr>
                <th>Detail</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            {% for row in audit %}
            <tr>
                <td>{{row.1}}</td>
                <td>{{row.0}}</td>
            </tr>
            {% endfor %}
            <tr>
                <th>Total</th>
                <td><strong>{{tally.points}}</strong></td>
        </tbody>
    </table>

{% endblock %}
