{% extends "site_base.html" %}

{% block head_title %}
{{object}}
{% endblock %}

{% block content %}

    <h2>{{object}}</h2>

    <h3>Results</h3>

    <p>Top 100 places shown.</p>
    <table class=table>
        <thead>
            <tr><th>Place</th><th>Rider</th><th>Points</th><th>Grade</th><th>Club</th><th>Events</th></tr>
        </thead>
        <tbody>
    {% for row in object.tabulate|slice:":100" %}
            <tr>
                <td>{{forloop.counter}}
                <td><a href="{% url 'rider' pk=row.rider.user.pk %}">{{row.rider}}</a></td>
                <td>{{row.points}}</td>
                <td>{{row.rider.clubgrade_set.all.0.grade}}</td>
                <td>{{row.rider.club}}</td>
                <td>{{row.eventcount}}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>

    <h3>Races</h3>

    {% regroup races by date as date_list %}

    {% include 'race_table.html' %}


{% endblock %}
