        <table class='table'>
          <thead>
           <tr>
               <th class='racetime'>Time</th><th class='racetitle'>Race</th><th class='racelocation'>Location</th>
           </tr>
          </thead>
        {% for date in date_list %}
           <tr><th colspan='5'>{{date.grouper|date:"D d M"}}</th></tr>
           {% for race in date.list %}
                  <tr class="status{{race.status}}">
                      <td class='racetime'>{{race.starttime}}</td>
                      <td class='racetitle'>{{race.club.slug}}:
                          <a href="{% url 'race' race.club.slug race.pk %}">{{ race.title }}</a>
                          {% ifequal race.status 'c' %}CANCELLED{% endifequal %}
                     </td>
                      <td class='racelocation'>{{ race.location }}</td>
                  </tr>
           {% endfor %}
         {% endfor %}
        </table>
