{% extends "site_base.html" %}
{% load bootstrap %}


{% block head_title %}{{race.club.slug}} - {{race.title}}{% endblock %}

{% block extra_head %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnUgACSI5LnSOS5hDsR-iWiZ5ARzur_Bs&sensor=false"></script>
    <script>
function initialize() {

  var myLatlng = new google.maps.LatLng({{race.location.location.latitude}}, {{race.location.location.longitude}});

  var mapOptions = {
    zoom: 12,
    center: myLatlng,
  };

  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: '{{race.location.name}}'
  });
};

google.maps.event.addDomListener(window, 'load', initialize);
    </script>

{% endblock %}

{% block content %}

{% if user.is_staff or user.is_authenticated and user.rider.official and user.rider.club == race.club %}

{% include "race_upload_modal.html" %}

{% endif %}

<div class='container'>

    <ul class='breadcrumb'>
        <li><a href="{% url 'clubs' %}">Clubs</a></li>
        <li><a href="{% url 'club' race.club.slug %}">{{race.club}}</a></li>
        <li>{{race.title}}</li>
    </ul>

    <div class='row'>
        <div class='col-md-8'>
            <h2 class="status{{race.status}}">{{race.title}} <small>{{race.club}}</small></h2>
        </div>
        <div class='col-md-4'>
        {% if user.is_staff or user.is_authenticated and user.rider.official and user.rider.club == race.club %}

            <div id='buttons' class='btn-group' role='group'>
                {% if race.club.manage_races %}
                <button type='button' class='btn btn-default'><a href="{% url 'race_update' race.id %}">Edit Race Detail</a></button>
                {% endif %}
                {% if race.club.manage_results %}
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#resultUploadModal">
                    Upload Results
                </button>
                {% endif %}
            </div>
            {% endif %}

        </div>
    </div>

    <div class='row'>

        <div class='col-md-6'>


            <table class='table status{{race.status}}'>
              <tr><th>Date</th><td>{{race.date}}</td></tr>
              <tr><th>Sign On Time</th><td>{{race.signontime}}</td></tr>
              <tr><th>Start Time</th><td>{{race.starttime}}</td></tr>
              <tr><th>Location</th><td>{{race.location}}</td></tr>
              <tr><th>Category</th><td>{{race.get_category_display}}</td></tr>
              <tr><th>Licence</th><td>{{race.get_licencereq_display}}</td></tr>
              <tr><th>Discipline</th><td>{{race.get_discipline_display}}</td></tr>
              {% for official in race.officials.all %}
              <tr><th>{{official.role}}</th><td>{{official.rider}}</td></tr>
              {% endfor %}
              {%if race.website %}
              <tr><th>More Detail</th><td>See race on <a href="{{race.website}}">{{race.club.name}} website</a></td></tr>
              {% else %}
              <tr><th>More Detail</th><td>Check on the <a href="{{race.club.website}}">{{race.club.name}} website</a></td></tr>
              {% endif %}

            </table>
            {% if race.description %}
            <pre id='description'>{{race.description}}</pre>
            {% endif %}

        </div>
        <div class='col-md-6'>
            <div id="map-canvas"></div>
        </div>
    </div>

{% if race.raceresult_set.all %}
    <div class='row'>

        <div class='col-md-12'>
            <h2>Results</h2>

            {% if user.is_staff or user.is_authenticated and user.rider.official and user.rider.club == race.club %}
            <p class="alert alert-info" role="alert"><strong>NOTE:</strong>
                To modify results, update the result spreadsheet and re-upload.
                All previous results will be
                removed and replaced with those from the spreadsheet.</p>
            {% endif %}
        </div>
    </div>

    <div class='row'>
        {% regroup race.raceresult_set.all by grade as grade_list %}
        <ul class="nav nav-tabs">
        {% for grade in grade_list %}
          <li role="presentation" {% if forloop.first %}class="active"{% endif %} >
           <a aria-controls="home" role="tab" data-toggle="tab" href="#grade{{grade.grouper}}" {% if forloop.first %}aria-expanded="true"{% endif %} >
               {{grade.grouper}} Grade ({{grade.list|length}} riders)
           </a>
          </li>
        {% endfor %}
        </ul>


        <div class='tab-content'>
            {% for grade in grade_list %}
            <div role="tabpanel" class="tab-pane {% if forloop.first %}active{% endif %}" id="grade{{grade.grouper}}">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class='table'>
                            <thead>
                                <tr><th>Number</th><th>Place</th><th>Rider</th><th>Club</th>
                                {% for p in grade.list.0.race.pointscores %}
                                    <th>{{p.pointscore.name}}</th>
                                {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for result in grade.list %}
                                    {% if result.place %}
                                    <tr>
                                        <th>{{result.number}}</th>
                                        <td>{{result.place}}</td>
                                        <td><a href="{% url 'rider' pk=result.rider.user.pk %}">{{result.rider}}</a></td>
                                        <td>{{result.rider.club}}</td>
                                        {% for p in result.race.pointscores %}
                                        <td>{{p.points}}</td>
                                        {% endfor %}
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                {% if user.is_staff or user.is_authenticated and user.rider.official and user.rider.club == race.club %}
                                {% for result in grade.list %}
                                    {% if not result.place %}
                                    <tr class='info'>
                                        <th>{{result.number}}</th>
                                        <td>-</td>
                                        <td><a href="{% url 'rider' pk=result.rider.user.pk %}">{{result.rider}}</a></td>
                                        <td>{{result.rider.club}}</td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                        {% if user.is_staff or user.is_authenticated and user.rider.official and user.rider.club == race.club %}
                        <p class="alert alert-info" role="alert"><strong>NOTE:</strong> non-placed riders only shown to club officials.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endif %}
</div>


<p>Report a problem with this race listing: email <a href="mailto:steve@cabici.net?subject=Problem with race {{race.id}} on cabici.net&body=Reporting a problem with http://cabici.net{% url 'race' race.club.slug race.pk %}">steve@cabici.net</a></p>


{% endblock %}
