{% extends "site_base.html" %}
{% load bootstrap %}

{% block head_title %}
Update Rider - {{user.first_name}} {{user.last_name}}
{% endblock %}

{% block content %}

<div class='container'>
    <div class='row'>
        <div class='col-md-6'>
            <form method='post' id='riderupdateform'>
                {% csrf_token %}
                <fieldset>
                    <legend>Edit Details for {{user.first_name}} {{user.last_name}}</legend>

                    {{form|bootstrap}}
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <button class="btn" onclick="event.preventDefault(); history.back(1);">Cancel</button>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>

{% endblock %}
