{% extends "site_base.html" %}

{% load static %}
{% block extra_head %}
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/bloodhound.min.js' %}"></script>
    <script src="{% static 'js/bootstrap3-typeahead.min.js' %}"></script>
    <script src="{% static 'js/riders.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#rider').riderSelect({
                '#rider-id': function (d) {
                    return d.id
                },
                '[name=grade]': function (d) {
                    return d.grades['WaratahMastersCC']
                },
                '[name=licenceno]': function (d) {
                    return d.licenceno
                }
            })
        })
    </script>
{%  endblock %}


{%  block content %}
    <form class="form-horizontal">
    <div class="form-group">
    <label for="rider">Rider:</label>
    <input id="rider" name="rider" class="form-control" type="text" placeholder="Rider last name">
    <input id="rider-id" name="rider-id" type="hidden">
    </div>
    <div class="form-group">
        <label for="grade">
            Grade
        </label>
        <input name="grade" class="form-control">
    </div>
    <div class="form-group">
        <label for="licenceno">Licence Number</label>
        <input name="licenceno" class="form-control">

    </div>

    <div class="form-group">
            <button type="submit" class="btn btn-default">Submit</button>
    </div>
    </form>
{%  endblock %}