{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <form method="POST" action="{% url "login" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
            <legend>{% trans "Log in to an existing account" %}</legend>
            {% csrf_token %}
            {{ form|bootstrap }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit" class="btn btn-primary">{% trans "Log in" %}</button>
            <a href="{% url "password_reset" %}" class="btn btn-link">{% trans "Forgot your password?" %}</a>
        </form>
    </div>
    <div class="col-md-4">
        <p>You have the option of signing in to Cabici.net with your
            Strava or Facebook accounts.  This means you don't need a separate
            username/password.   Cabici is not able to access any of your
            personal data except for your email address.</p>
            <p>Strava is the preferred method of login. In future we may be able to offer
                links between race results and Strava activities.</p>
        <div>
            <a href="{% url 'social:begin' 'strava' %}">
                <img src="{{STATIC_URL}}/LogInWithStrava.png" alt="Login with Strava">
            </a>
            <a href="{% url 'social:begin' 'facebook' %}">
                <img src="{{STATIC_URL}}/facebook_login_button.png" alt="Login with Facebook">
            </a>
        </div>


    </div>
</div>

{% endblock %}
