django == 1.9
django-pagination
django-coverage
django-ical
icalendar
python-dateutil
django-geoposition
beautifulsoup4
lxml
ngram
vcrpy
python-social-auth
django-user-accounts
pinax-theme-bootstrap==5.7.5
django-bootstrap-form
djangorestframework
django-cors-headers
