Django==3.2.12
PyYAML
WebOb
WebTest
beautifulsoup4
certifi
chardet
contextlib2
django-allauth
django-anymail[mailgun]
django-appconf
django-bootstrap-form
django-cors-headers
django-coverage
# get a custom fork of djang-geoposition for updates
https://github.com/stevecassidy/django-geoposition/archive/master.zip
django-ical
django-pagination
django-webtest
djangorestframework
et-xmlfile
funcsigs
icalendar
idna
jdcal
lml
mock
ngram
oauthlib
openpyxl
pbr
pinax-theme-bootstrap
# fixes bad app name...
https://github.com/jacobwegner/pinax-webanalytics/archive/refs/heads/fix/app-label.zip
pyexcel
pyexcel-io
pyexcel-xls
python-dateutil
python-openid
pytz
requests
requests-oauthlib
six
texttable
urllib3
vcrpy
waitress
wrapt
xlrd<2
xlwt
django-debug-toolbar
gunicorn
whitenoise 

# for deployment with postgres
psycopg2