django == 1.8
django-pagination
django-coverage
django-ical
icalendar
python-dateutil
django-geoposition
beautifulsoup4
lxml
ngram
vcrpy
django-social-auth
django-user-accounts==1.0.2
pinax-theme-bootstrap==5.7.5
