{% extends "site_base.html" %}
{% load bootstrap %}

{% block title %}{{club.name}}{% endblock %}

    {% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/datepicker.css" />
    <style type='text/css'>
#id_description, #id_title, #id_url {
    width: 100%;
}
th label {
    text-align: right;
}
    </style>
    {% endblock %}

    {% block extra_script %}
    <script src="{{ STATIC_URL }}datepicker/bootstrap-datepicker.js"></script>
    <script>
        $(document).ready(
            function() {

                // monthly disabled by default
                $("#id_repeatMonthN").addClass("disabled").attr("disabled", true);
                $("#id_repeatDay").addClass("disabled").attr("disabled", true);
                $("#id_number").addClass("disabled").attr("disabled", true);


                $("#id_repeat").change(function() {
                    if ($(this).val() == 'none') {
                        $("#id_number").addClass("disabled").attr("disabled", true);
                    } else {
                        $("#id_number").removeClass("disabled").attr("disabled", false);
                    }
                    if ($(this).val() == 'monthly') {
                        $("#id_repeatMonthN").removeClass("disabled").attr("disabled", false);
                        $("#id_repeatDay").removeClass("disabled").attr("disabled", false);
                    } else {
                        $("#id_repeatMonthN").addClass("disabled").attr("disabled", true);
                        $("#id_repeatDay").addClass("disabled").attr("disabled", true);
                    }
                });

            });
    </script>
    {% endblock %}

{% block content %}

<h2>{{club.name}}</h2>

<p><a href='{{club.website}}'>{{club.name}} Website</a></p>


{% if user.is_authenticated %}
<button class='btn' data-toggle='collapse' aria-expanded="false"
        aria-controls="formdiv" data-target="#formdiv">Create New Race for {{club.name}}</button>

<form method='post' action='{% url 'club_races' club.slug %}' name='raceform'>
    {% csrf_token %}
        <div class='collapse' id='formdiv'>
            <div class='well form-group'>
                {{form.errors}}
                <input type='hidden' name='club' value='{{club.id}}'>
                <table class='table-condensed'>
                    <tr><th><label for='id_pointscore'>Pointscore</label></th>
                           <td colspan=3>{{form.pointscore|bootstrap_inline}}</td></tr>

                    <tr><th><label for='id_title'>Title</label></th><td colspan=3>{{form.title|bootstrap_inline}}</td></tr>
                    <tr>
                        <th><label for='id_date'>Date</label></th><td><input class="form-control" data-provide="datepicker" name='date' id='id_date'></td>
                        <th><label for='id_time'>Start Time</label></th><td>{{form.time|bootstrap_inline}}</td>
                    </tr>

                    <tr>
                        <th><label for='id_weekly'>Repeat</label></th>
                        <td>{{form.repeat|bootstrap_inline}}</td>
                        <td>{{form.number|bootstrap_inline}}</td>
                        <td><label for='id_number'>times</label></td>
                    </tr>

                    <tr>
                        <th><label for='id_repeat'>Repeat on the</label></th>
                        <td>{{form.repeatMonthN|bootstrap_inline}}</td>
                        <td>{{form.repeatDay|bootstrap_inline}}</td>
                        <td><label for='id_number'>of each month</label></td>
                    </tr>


                    <tr>
                        <th><label for='id_location'>Location</label></th><td>{{form.location|bootstrap_inline}}</td>
                        <th><label for='id_status'>Status</label></th><td>{{form.status|bootstrap_inline}}</td>
                    </tr>
                    <tr><th><label for='id_url'>Website</label></th><td colspan=3>{{form.website|bootstrap_inline}}</td></tr>

                    <tr><th><label for='id_description'>Description</label></th><td colspan=3>{{form.description|bootstrap_inline}}</td></tr>
                </table>

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Create Race(s)</button>
                </div>
            </div>
        </div>


</form>
{% endif %}

{% if club.pointscore_set.all %}
<h2>Pointscores</h3>
    <ul>
    {% for ps in club.pointscore_set.all %}
      <li><a href="{% url 'pointscore' club=club.slug pk=ps.pk %}">{{ps}}</a></li>
    {% endfor %}
    </ul>
{% endif %}

{% regroup races by date as date_list %}

{% include 'race_table.html' %}



{% endblock %}
