{% extends "site_base.html" %}
{% load bootstrap %}

{% block title %}{{club.name}}{% endblock %}

    {% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/datepicker.css" />
    <style type='text/css'>
#id_description, #id_title, #id_url {
    width: 100%;
}
th label {
    text-align: right;
}
.datepicker{z-index:1151 !important;}
    </style>
    {% endblock %}

    {% block extra_script %}
    <script src="{{ STATIC_URL }}datepicker/bootstrap-datepicker.js"></script>
    <script>
        $(document).ready(
            function() {

                // monthly disabled by default
                $("#id_repeatMonthN").addClass("disabled").attr("disabled", true);
                $("#id_repeatDay").addClass("disabled").attr("disabled", true);
                $("#id_number").addClass("disabled").attr("disabled", true);

                $("#id_repeat").change(function() {
                    if ($(this).val() == 'none') {
                        $("#id_number").addClass("disabled").attr("disabled", true);
                    } else {
                        $("#id_number").removeClass("disabled").attr("disabled", false);
                    }
                    if ($(this).val() == 'monthly') {
                        $("#id_repeatMonthN").removeClass("disabled").attr("disabled", false);
                        $("#id_repeatDay").removeClass("disabled").attr("disabled", false);
                    } else {
                        $("#id_repeatMonthN").addClass("disabled").attr("disabled", true);
                        $("#id_repeatDay").addClass("disabled").attr("disabled", true);
                    }
                });

            });

            $(function() {
                $("#submitraceform").click(function(){
                    $.ajax({
                        type: "POST",
                        url: '{% url 'club_races' club.slug %}',
                        data: $('#raceform').serialize(),
                        success: function(msg){
                            if (msg['success']) {
                               $("#raceCreateModal").modal('hide');
                               /* force a page refresh */
                               window.location = window.location;
                           } else {
                                for (field in msg) {
                                    $("#id_"+field).parent().addClass("has-error");
                                    $("#id_"+field).parent().children(".help-block").text(msg[field]);
                                }
                            }
                        }
                    });
                });
            });
    </script>
    {% endblock %}

{% block content %}

<h2>{{club.name}}</h2>

<ul>
    <li><a href='{{club.website}}'>{{club.name}} Website</a></li>
    <li><a href="{% url 'club_races' slug=club.slug %}">Race Results</a></li>
{% if user.is_staff or user.is_authenticated and user.rider.official and user.rider.club == club %}
    <li><a href="{% url 'club_dashboard' slug=club.slug %}">Club Dashboard</a></li>
{% endif %}
</ul>

{% if club.pointscore_set.all %}
<h2>Pointscores</h3>
    <ul>
    {% for ps in club.pointscore_set.all %}
      <li><a href="{% url 'pointscore' club=club.slug pk=ps.pk %}">{{ps}}</a></li>
    {% endfor %}
    </ul>
{% endif %}


{% regroup races by date as date_list %}

<table class='table'>
  <thead>
   <tr>
       <th>Date</th>
       <th class='racetime'>Time</th><th class='racetitle'>Race</th><th class='racelocation'>Location</th>
       {% if user.is_staff or user.is_authenticated and user.rider.official and user.rider.club == club %}
       <th>Status</th>
       <th>&nbsp;</th>
       {% endif %}
   </tr>
  </thead>
{% for date in date_list %}
   {% for race in date.list %}
          <tr>
              <th class='date'>{{race.date|date:"D d M"}}</td>
              <td class='racetime'>{{race.time}}</td>
              <td class='racetitle'>
                  <a href="{% url 'race' race.club.slug race.pk %}{% if iframe %}?iframe{% endif %}">{{ race.title }}</a></td>
              <td class='racelocation'>{{ race.location }}</td>
              {% if user.is_staff or user.is_authenticated and user.rider.official and user.rider.club == club %}
              <td class='racestatus'>{{ race.get_status_display }}</td>
              <td>
                  <a href="{% url 'race_delete' race.id %}"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></a>



                  <a href="{% url 'race_update' race.id %}"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>
              </td>
              {% endif %}
          </tr>
   {% endfor %}
 {% endfor %}
</table>



{% endblock %}
