{% extends "site_base.html" %}
{% load bootstrap %}

{% block title %}{{club.name}}{% endblock %}

{% block content %}

<h2>{{club.name}}</h2>

<ul>
    <li><a href='{{club.website}}'>{{club.name}} Website</a></li>
    <li><a href="{% url 'club_results' slug=club.slug %}">Race Results</a></li>
</ul>

{% if club.pointscore_set.all %}
<h2>Pointscores</h3>
    <ul>
    {% for ps in club.pointscore_set.all %}
      <li><a href="{% url 'pointscore' club=club.slug pk=ps.pk %}">{{ps}}</a></li>
    {% endfor %}
    </ul>
{% endif %}


{% regroup races by date as date_list %}

<table class='table'>
  <thead>
   <tr>
       <th>Date</th>
       <th class='racetime'>Time</th><th class='racetitle'>Race</th><th class='racelocation'>Location</th>
   </tr>
  </thead>
{% for date in date_list %}
   {% for race in date.list %}
      <tr>
          <th class='date'>{{race.date|date:"D d M"}}</td>
          <td class='racetime'>{{race.starttime}}</td>
          <td class='racetitle'>
              <a href="{% url 'race' race.club.slug race.pk %}">{{ race.title }}</a></td>
          <td class='racelocation'>{{ race.location }}</td>
      </tr>
   {% endfor %}
 {% endfor %}
</table>
<p><a href="{% url 'club_races' slug=club.slug %}">Full Race Schedule</a></p>


{% endblock %}
