{% extends "site_base.html" %}


{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}datepicker/datepicker.css">
<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap-select/css/bootstrap-select.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<style type='text/css'>
.datepicker{z-index:1151 !important;}
</style>
{% endblock %}


{% block extra_script %}
<script src="{{ STATIC_URL }}cabici.js"></script>
<script src="{{ STATIC_URL }}datepicker/bootstrap-datepicker.js"></script>
<script src="{{ STATIC_URL }}bootstrap-typeahead.min.js"></script>
<script src="{{ STATIC_URL }}bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script>

    function formatnames(data, title) {
        var val = "";
        if (typeof(data) != 'undefined') {
            val += "<dt>" + title + "</dt><dd>"
            for(var i=0; i<data.length; i++) {
                val += data[i].name;
                if (i<data.length-1) {
                    val += ", ";
                }
            }
            val += "</dd>";
        } else {
            val += "<dt>" + title + "</dt><dd>Unknown</dd>";
        }
        return(val);
    };

    function deletemodalbutton(race) {
        var val = "<div><a href='#' title='Delete Race' data-toggle='modal' data-target='#raceDeleteModal' data-raceurl='" + race.url + "' data-racename='" + race.title +"'><span aria-hidden='true' class='glyphicon glyphicon-trash'></span></a></div>";
        return(val);
    }

    function addpeoplemodalbutton(race) {
        var val = "<div><a href='#' title='Add Officials' data-toggle='modal' data-target='#addPeopleModal' data-raceurl='" + race.url + "' data-raceid='" + race.id + "' data-racename='" + race.date + ", " + race.location.name + "'><span aria-hidden='true' class='glyphicon glyphicon-user'></span></a></div>";
        return(val);
    }

    function editmodalbutton(race) {
        //var val = "<div><a href='#' data-toggle='modal' data-target='#raceCreateModal' title='Edit Race'><span aria-hidden='true' class='glyphicon glyphicon-pencil'></span></a></div>";
        var val = "<div><a href='/races/"+race.id + "/update/' title='Edit Race'><span aria-hidden='true' class='glyphicon glyphicon-pencil'></span></a></div>";

        return(val);
    }

    $(document).ready(
        function() {
            race_create_form_init('{% url 'club_races' club.slug %}');
            add_people_init();
            delete_race_init();

            $('#racetable').DataTable( {
                processing: true,
                ajax: {
                            url: "/api/races/?club={{club.id}}&scheduled=true",
                            dataSrc: ''
                        },
                paging: false,
                ordering: false,
                rowId: 'id',
                columns: [
                       {
                           data: "date",
                           render: function(data, type, row) {
                               var val = new Date(data).toDateString();
                               return val.substring(0,val.length-5);
                        }
                    },
                    { data: "title",
                      render: function(data, type, row) {
                          var val = "<a href='/races/" + row['club']['slug'] + "/" + row['id'] + "'>" + data + "</a>";
                          return val;
                      }},
                    { data: "location.name" },
                    { data: "officials",
                      render: function(data, type, row) {
                          var val = "<dl class='dl-horizontal'>";
                          val += formatnames(data.Commissaire, "Commissaire");
                          val += formatnames(data['Duty Officer'], "Duty Officer");
                          val += formatnames(data['Duty Helper'], "Duty Helper");
                          val += "</dl>";
                          return val;
                      }
                    }
                    {% if user.is_staff or user.is_authenticated and user.rider.official and user.rider.club == club %}
                    ,{ data: "id",
                      render: function(data, type, row) {
                          var val = "";
                          val += editmodalbutton(row);
                          val += deletemodalbutton(row);
                          val += addpeoplemodalbutton(row);
                          return(val);
                      }
                    }
                    {% endif %}
                ]
            } );
    });
</script>
{% endblock %}

{% block content %}

<h2>{{club.name}} Race Schedule</h2>

{% if user.is_staff or user.is_authenticated and user.rider.official and user.rider.club == club %}
    <ul id='dashboardActions'>
        <li>
            <a href="#" data-toggle='modal' data-target="#raceCreateModal">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><br> Add Race(s)</a>
        </li>
    </ul>
{% endif %}
    <table class='table display' id='racetable'>
      <thead>
       <tr>
           <th style="width: 10em">Date</th>
           <th>Race</th>
           <th>Location</th>
           <th>Officials</th>
           {% if user.is_staff or user.is_authenticated and user.rider.official and user.rider.club == club %}
           <th>Edit</th>
           {% endif %}
       </tr>
      </thead>

    </table>

{% if user.is_staff or user.is_authenticated and user.rider.official and user.rider.club == club %}

    {% include "race_create_modal.html" %}

    {% include "race_confirm_delete.html" %}

    <div class='modal fade' id='addPeopleModal' tabindex='-2' role='dialog' aria-labelledby="addPeopleModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="addPeopleModalLabel">Add People to Race</h4>
            </div>
            <div class="modal-body">

                <form action="" method='POST'>
                    {% csrf_token %}
                    <input type='hidden' name='raceid' id='raceid'>
                    <div class='container'>
                        <div class='row'>
                            <div class='col-md-3'>
                                <label for='commissaire'>Commissaire: </label>
                            </div>
                            <div class='col-md-3'>
                                <select class='selectpicker' id='commissaire' name='commissaire'>
                                    {% for comm in commissaires %}
                                    <option value='{{comm.id}}'>{{comm}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-md-3'>
                                <label for='dutyofficer'>Duty Officer: </label>
                            </div>
                            <div class='col-md-3'>
                                <select class='selectpicker' id='dutyofficer' name='dutyofficer'>
                                    {% for do in dutyofficers %}
                                    <option value='{{do.id}}'>{{do}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-md-3'>
                                <label for='dutyhelper'>Duty Helper: </label>
                            </div>
                            <div class='col-md-3'>
                                <select class='selectpicker' multiple id='dutyhelper' name='dutyhelper' data-live-search="true">
                                    {% for dh in dutyhelpers %}
                                    <option value='{{dh.id}}'>{{dh}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                      <input type="submit" name="submit" class="btn btn-primary" value="Update">
                    </div>
                </form>
            </div>
          </div>
        </div>
    </div>

{% endif %}

{% endblock %}
