{% extends "base.html" %}
{% load webdesign %}
{% block content %}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span5">
        <h2>{{page.title}}</h2>
        {{ page.content|safe }}
    </div>
    <div class="span7">
        
{% regroup object_list by date as date_list %}
        
        <table class='table'>
          <thead>
           <tr><th>Time</th><th>Club</th><th>Race</th><th>Location</th></tr>
          </thead>
        {% for date in date_list %}
           <tr><th colspan='4'>{{date.grouper|date:"D d M"}}</th></tr>
           {% for race in date.list %}
                  <tr><td>{{race.time}}</td>
                      <td><a href="{% url 'site:club' race.club.slug %}">{{race.club.slug}}</a></td>
                  <td><a href="/races/{{race.id}}/">{{ race.title| truncatechars:20}}</a></td><td>{{ race.location }}</td></tr>
           {% endfor %}
         {% endfor %}
        </table>
    </div>
  </div>
</div>


{% endblock %}
