{% extends "site_base.html" %}
{% block content %}

    <h2>{{object}}</h2>

    <h3>Results</h3>

    <table class=table>
        <thead>
            <tr><th>Rider</th><th>Club</th><th>Points</th></tr>
        </thead>
        <tbody>
    {% for pair in object.tabulate %}
            <tr><td><a href="{% url 'rider' pk=pair.0.user.pk %}">{{pair.0}}</a></td><td>{{pair.0.club}}</td><td>{{pair.1}}</td></tr>
    {% endfor %}
        </tbody>
    </table>

    <h3>Races</h3>

    {% regroup races by date as date_list %}

    {% include 'race_table.html' %}


{% endblock %}
