{% extends "site_base.html" %}
{% load bootstrap %}


{% block title %}{{race.club.slug}} - {{race.title}}{% endblock %}

{% block extra_head %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnUgACSI5LnSOS5hDsR-iWiZ5ARzur_Bs&sensor=false"></script>
    <script>
function initialize() {

  var myLatlng = new google.maps.LatLng({{race.location.location.latitude}}, {{race.location.location.longitude}});

  var mapOptions = {
    zoom: 12,
    center: myLatlng,
  };

  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: '{{race.location.name}}'
  });
};

google.maps.event.addDomListener(window, 'load', initialize);
    </script>

{% endblock %}

{% block content %}
{% if user.is_staff or user.is_authenticated and user.rider.official and user.rider.club == race.club %}
<div id='buttons'>
<button class='btn btn-default'><a href="{% url 'race_riders'  race.club.slug race.id %}">Register Riders</a></button>
<div id='editbutton' class='btn btn-default'><a href="{% url 'race_update' race.id %}">Edit</a></div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
  Upload Results
</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload Results Spreadsheet</h4>
      </div>
      <form method="POST" enctype="multipart/form-data" action="{% url 'race_results_csv' race.club.slug race.id %}">
          <div class="modal-body">
              {% csrf_token %}
              {{csvform|bootstrap}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <input type="submit" class="btn btn-primary" value="Upload">
          </div>
      </form>
    </div>
  </div>
</div>
</div>

{% endif %}

<h2>{{race.title}}</h2>

<table class='table'>
  <tr><th>Date</th><td>{{race.date}}</td></tr>
  <tr><th>Time</th><td>{{race.time}}</td></tr>
  <tr><th>Location</th><td>{{race.location}}</td></tr>
  <tr><th>Title</th><td>{{race.title}}</td></tr>
  <tr><th>Club</th><td><a href='{{race.club.website}}'>{{race.club.name}}</a> [<a href="{% url 'club' race.club.slug %}">View all {{race.club}} Races</a>] </td></tr>
  {%if race.url %}
  <tr><th>More Detail</th><td>See race on <a href="{{race.website}}">{{race.club.name}} website</a></td></tr>
  {% else %}
  <tr><th>More Detail</th><td>Refer to <a href="{{race.club.website}}">{{race.club.name}} website</a> (no direct race link)</td></tr>
  {% endif %}

</table>
{% if race.description %}
<pre id='description'>{{race.description}}</pre>
{% endif %}

<div class="fb-like" data-href="http://cabici.net/race/{{race.id}}"
     data-layout="button" data-send="true" data-width="450" data-show-faces="true"></div>


{% if race.raceresult_set.all %}

{% regroup race.raceresult_set.all by grade as grade_list %}

<h2>Results</h2>

<ul class="nav nav-tabs">
{% for grade in grade_list %}
  <li role="presentation" {% if forloop.first %}class="active"{% endif %} >
   <a aria-controls="home" role="tab" data-toggle="tab" href="#grade{{grade.grouper}}" {% if forloop.first %}aria-expanded="true"{% endif %} >
       {{grade.grouper}} Grade ({{grade.list|length}} riders)
   </a>
  </li>
{% endfor %}
</ul>


<div class='tab-content'>
{% for grade in grade_list %}
<div role="tabpanel" class="tab-pane {% if forloop.first %}active{% endif %}" id="grade{{grade.grouper}}">
    <div class="panel panel-default">
        <div class="panel-body">
            <table class='table'>
                <thead>
                    <tr><th>Number</th><th>Place</th><th>Rider</th><th>Club</th>
                    {% for p in grade.list.0.pointscores %}
                        <th>{{p.pointscore.name}}</th>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for result in grade.list %}
                        {% if result.place %}
                        <tr>
                            <th>{{result.number}}</th>
                            <td>{{result.place}}</td>
                            <td><a href="{% url 'rider' pk=result.rider.user.pk %}">{{result.rider}}</a></td>
                            <td>{{result.rider.club}}</td>
                            {% for p in result.pointscores %}
                            <td>{{p.points}}</td>
                            {% endfor %}
                        </tr>
                        {% endif %}
                    {% endfor %}
                    {% if 0 %}
                    {% for result in grade.list %}
                        {% if not result.place %}
                    <tr><th>{{result.number}}</th><td>-</td><td><a href="{% url 'rider' pk=rider.user.pk %}">{{result.rider}}</a></td><td>{{result.rider.club}}</tr>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endfor %}

{% else %}

<div id="map-canvas"></div>

{% endif %}


<p>Report a problem with this race listing: email <a href="mailto:steve@cabici.net?subject=Problem with race {{race.id}} on cabici.net&body=Reporting a problem with http://cabici.net{% url 'race' race.club.slug race.pk %}">steve@cabici.net</a></p>


{% endblock %}
