{% extends "base.html" %}


{% block title %}{{race.club.slug}} - {{race.title}}{% endblock %}

{% block extrahead %}    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnUgACSI5LnSOS5hDsR-iWiZ5ARzur_Bs&sensor=false"></script>
    <script>
function initialize() {

  var myLatlng = new google.maps.LatLng({{race.location.location.latitude}}, {{race.location.location.longitude}});
  
  var mapOptions = {
    zoom: 12,
    center: myLatlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: '{{race.location.name}}'
  });


google.maps.event.addDomListener(window, 'load', initialize);
    </script>

{% endblock %}

{% block content %}
<div id='buttons'>
{% if user.is_authenticated %}
<div id='editbutton'><a class='btn' href="{% url 'site:race_update' race.id %}">Edit</a></div>
{% endif %}
</div>

<h2>{{race.title}}</h2>

<table class='table'>
  <tr><th>Date</th><td>{{race.date}}</td></tr>
  <tr><th>Time</th><td>{{race.time}}</td></tr>
  <tr><th>Location</th><td>{{race.location}}</td></tr>
  <tr><th>Title</th><td>{{race.title}}</td></tr>
  <tr><th>Club</th><td><a href='{{race.club.url}}'>{{race.club.name}}</a> [<a href="{% url 'site:club' race.club.slug %}">View all {{race.club}} Races</a>] </td></tr>
  {%if race.url %}
  <tr><th>More Detail</th><td>See race on <a href="{{race.url}}">{{race.club.name}} website</a></td></tr>
  {% else %}
  <tr><th>More Detail</th><td>Refer to <a href="{{race.club.url}}">{{race.club.name}} website</a> (no direct race link)</td></tr>
  {% endif %}

</table>
{% if race.description %}
<pre id='description'>{{race.description}}</pre>
{% endif %}

<div class="fb-like" data-href="http://cabici.net/race/{{race.id}}" 
     data-layout="button" data-send="true" data-width="450" data-show-faces="true"></div>

<div id="map-canvas"></div>

<p>Report a problem with this race listing: email <a href="mailto:steve@cabici.net?subject=Problem with race {{race.id}} on cabici.net&body=Reporting a problem with http://cabici.net{% url 'site:race' race.club.slug race.pk %}">steve@cabici.net</a></p>

{% endblock %}

