{% extends "site_base.html" %}
{% block content %}


{% regroup races by date as date_list %}

{% include 'race_table.html' %}


{% regroup object_list.reverse by date.year as year_list %}

<ul class="nav nav-tabs">
{% for year in year_list %}
    <li role="presentation" class="{% if forloop.first %} active{% endif %}">
        <a aria-controls="home" role="tab" data-toggle="tab"
          href="#year{{year.grouper}}">
           {{year.grouper}} ({{year.list|length}})
        </a>
    </li>
{% endfor %}
</ul>

<div class='tab-content'>
{% for year in year_list %}
    <div role="tabpanel" class="tab-pane{% if forloop.first %} active{% endif %}" id="year{{year.grouper}}">

        {% regroup year.list by date as date_list %}

        {% include 'race_table.html' %}
    </div>
{% endfor %}
</div>

{% endblock %}
