{% extends "base.html" %}

{% block extrahead %}    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnUgACSI5LnSOS5hDsR-iWiZ5ARzur_Bs&sensor=false"></script>
    <script>
function initialize() {
  var myLatlng = new google.maps.LatLng({{race.location.location.latitude}}, {{race.location.location.longitude}});
  var mapOptions = {
    zoom: 12,
    center: myLatlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: '{{race.location.name}}'
  });
}

google.maps.event.addDomListener(window, 'load', initialize);
    </script>

{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div id='editbutton'><a class='btn' href="{% url 'site:race_update' race.id %}">Edit</a></div>
{% endif %}


<h2>{{race.title}}</h2>

<table class='table'>
  <tr><th>Date</th><td>{{race.date}}</td></tr>
  <tr><th>Time</th><td>{{race.time}}</td></tr>
  <tr><th>Location</th><td>{{race.location}}</td></tr>
  <tr><th>Title</th><td>{{race.title}}</td></tr>
  <tr><th>Club</th><td><a href="{% url 'site:club' race.club.slug %}">{{race.club}}</a> (<a href='{{race.club.url}}'>Website</a>)</td></tr>
</table>

<p><a href="{{race.url}}">View Race Details</a> on Club website</p>

<div id="map-canvas"></div>

<p>Report a problem with this race listing: email <a href="mailto:steve@cabici.net?subject=Problem with race {{race.id}} on cabici.net&body=Reporting a problem with http://cabici.net{% url 'site:race' race.id %}">steve@cabici.net</a></p>

{% endblock %}

