{% extends "base.html" %}

    {% block extrahead %}    
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/datepicker.css" />
    <style type='text/css'>
#id_description, #id_title, #id_url {
    width: 100%;
}
    </style>
    {% endblock %}
    {% block extrajs %}
    
    <script src="{{ STATIC_URL }}datepicker/bootstrap-datepicker.js"></script>
    {% endblock %}   

{% block content %}

<form method='post'>
    {% csrf_token %}
    <fieldset>
        <legend>Create New Race</legend>
        {{form.errors}}
        <table class='table-condensed'>
            
            <tr><th><label for='id_club'>Club</label></th><td colspan=3>{{form.club}}</td></tr>
            <tr><th><label for='id_title'>Title</label></th><td colspan=3>{{form.title}}</td></tr>
            <tr><td><label for='id_date'>Date</label></td>
                <td><input data-provide="datepicker" name='date' id='id_date'></td>
                <td><label for='id_time'>Time</label></td><td>{{form.time}}</td>
            </tr>
            <tr><td><label for='id_weekly'>Repeat Weekly</label></td><td>{{form.weekly}}</td>
              <!--  <td><label for='id_monthly'>Repeat Monthly</label>{{form.monthly}}</td> -->
                <td><label for='id_number'>Number</label></td><td>{{form.number}}</td>
            </tr>
            <tr><td><label for='id_location'>Location</label></td><td>{{form.location}}</td>
                <td><label for='id_status'>Status</label></td><td>{{form.status}}</td>
            </tr>
            <tr><td><label for='id_url'>URL</label></td><td colspan=3>{{form.url}}</td></tr>
            
            <tr><td><label for='id_description'>Description</label></td><td colspan=3>{{form.description}}</td></tr>
        </table>
        
        
        
        <div class="form-actions">  
            <button type="submit" class="btn btn-primary">Save changes</button>  
            <button class="btn" onclick="event.preventDefault(); history.back(1);">Cancel</button>  
        </div>  
        
    </fieldset>
</form>

{% endblock %}

