{% load i18n %}


<ul class="nav navbar-nav pull-right">
    {% if request.user.is_authenticated %}
        {% if request.user.rider.official %}
        <li><a href="{% url 'club_dashboard' slug=request.user.rider.club.slug %}">{{request.user.rider.club.slug}} Dashboard</a></li>
        {% endif %}
        <li>
            <a href="/riders/{{request.user.id}}"><i class="glyphicon glyphicon-user"></i> {{request.user.get_full_name}}</a>
        </li>
        <li>
            <a id="account_logout" href="{%  url 'account_logout' %}"><i class="glyphicon glyphicon-off"></i> {% trans "Log out" %}</a>
        </li>
    {% else %}
    <li>
        <a href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
    </li>
    {% endif %}
</ul>

<form id="accountLogOutForm" style="display: none;" action="{%  url 'account_logout' %}" method="POST">
    <input type='hidden' name='next' value='/'>
    {% csrf_token %}
</form>
