{% load i18n %}


<ul class="nav navbar-nav pull-right">
    {% if request.user.is_authenticated %}
        <li>
            <a href="/rider/{{request.user.id}}"><i class="glyphicon glyphicon-user"></i> {{request.user.get_full_name}}</a>
        </li>
        <li>
            <a id="account_logout" href="/logout/"><i class="glyphicon glyphicon-off"></i> {% trans "Log out" %}</a>
        </li>
    {% else %}
    <form class="navbar-form navbar-left" role="search">
      <a href="{% url 'social:begin' 'strava' %}?next={{ request.path }}">
          <img src="{{STATIC_URL}}/LoginWithStrava.png" alt="Login with Strava">
      </a>
     </form>
    {% endif %}
</ul>

<form id="accountLogOutForm" style="display: none;" action="/logout/" method="POST">
    <input type='hidden' name='next' value='/'>
    {% csrf_token %}
</form>
