body {
    padding-top: 0px;
    background-color: rgba(0, 0, 0, 0.03);
}

/*
 #E8B730 yellow main colour
 #256B94 blue contrast
*/

header .navbar {
    /* background-color: #256B94; */
    background-color: black;
}

header a:link {
    color: #256B94;
}
#map-canvas {
    height: 430px;
    width: 100%;
 }

#map-canvas img {
    max-width: none;
}

#masthead {
    margin-top: -20px;

    width:100%;
    height:75px;
    background-image:url(header75.jpg);
    background-size:cover;

    background-color: #E8B730;
}


.navbar-toggle {
        color: white;
}

#feed {
    text-align: right;
    padding: 0px;
    margin: 10px;
    font-size: small;
}

.racetitle {
}

.racetime {

}
.racelocation {
    font-weight: bold;
}
.racesuppinfo {
    margin-top: 0px;
    font-size: small;
    font-style: italic;
}


footer {
    border-top: 1px solid #999999;
    margin: 1em;
    color: #999999;
}
footer ul {
    float: right;
}
footer ul li {
    list-style: none;
}
footer a:link {
    color #999999;
}

#buttons {
    float: right;
}
#editbutton {
    float: right;
}
.fb-like {
    overflow: hidden;
}


@media (min-width: 768px) {
    #dashboardActions {
        width: 500px;
    }
}
#dashboardActions {
    list-style:none;
}
#dashboardActions li {
    display: inline-block;
    width: 110px;
    height: 110px;
    margin: 5px;
    background-color: #E8B730;
    text-align: center;
    font-size: 9pt;
}


#dashboardActions .glyphicon {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 24px;
}
#dashboardActions a {
    color: black;
}

/* Race Listing styles */

.statusd td:nth-child(3) {
    background-image: url('draft.png');
    background-size: contain;
    background-repeat:no-repeat;
}
.statusc td:nth-child(3) {
    background-image: url('cancelled.png');
    background-size: contain;
    background-repeat:no-repeat;
}

h2.statusc:after {
    content: " CANCELLED";
    color: #ff0000;
}
h2.statusd:after {
    content: " DRAFT";
    color: #ff0000;
}


/* https://codepen.io/bootstrapped/pen/OMNYpq */

.flex-row {
    display: flex;
    flex-wrap: wrap;
}
.flex-row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.flex-row .thumbnail,
.flex-row .caption {
    flex-direction: column;
    display: flex;
    flex: 1 0 auto;
    height: auto;
    position: relative;
}
.flex-text {
    flex-grow: 1;
}
.flex-row img {
    min-width: 0;
    width: 100%;
}

.flex-row .thumbnail a {
    border: 1px solid #ffffff;
}
.flex-row .thumbnail a:hover {
    text-decoration: none;
    border: 1px solid #cccccc;
}

.racecard .date {
    font-size: smaller;
    font-weight: bold;
    background-color: #DDD2B680;
    text-align: left;
    padding: 5px;
}
.racecard .signon {
    font-size: smaller;
    font-weight: bold;
    background-color: #E8B730;
    text-align: right;
    padding: 5px;
}
.racecard h2.clubslug {
    font-weight: bold;
    font-size: large;
    padding-left: 5px;
}
.racecard .raceinfo {
    padding-left: 5px;
    height: 6rem;
}
.raceinfo .racetitle {
    font-weight: bold;
}
.raceinfo .racelocation {
    font-style: italic;
    font-weight: normal;
}
.thumbnail {
    padding: 0px;
}

.thumbnail .caption {
    padding: 0px;
}

.dateblock h2 {
    font-size: large;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}
