 #map-canvas {
    height: 300px;
    width: 100%;
 }
 
.masthead {
    width: 100%;
    position: relative;
    top: -20px;
    left: 0px;
}

.racebox {
    color: #000;
    border: 1px solid black;
    width: 140px;
    height: 140px;
    background-image: url(http://placehold.it/140x100);
    background-repeat: no-repeat;
    background-position-y: 40px; 
    overflow: hidden;
}

.racebox .raceboxdate {
    color: black;
    text-align: left; 
    height: 1em;
    float: left;
    padding: 0px 5px 5px 5px;
}
.racebox .raceboxtime {
    color: black;
    text-align: right; 
    height: 1em;
    float: right;
    padding: 0px 5px 5px 5px;
}
.racebox .raceboxinfo {
    float: left;
    width: 300px;
    padding: 0px 5px 0px 5px;
}

